@model ToDo_App.Models.To_Do_Iteam

@{
    ViewData["Title"] = "Create";
}

<h1>Add a New Iteam</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Content" class="control-label "></label>
                <input asp-for="Content" class="form-control" />
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Note" class="control-label"></label>
                <input asp-for="Note" class="form-control" />
                <span asp-validation-for="Note" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdditionDate" class="control-label"></label>
                <input asp-for="AdditionDate" class="form-control" />
                <span asp-validation-for="AdditionDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExpectedTime" class="control-label"></label>
                <input asp-for="ExpectedTime" class="form-control" />
                <span asp-validation-for="ExpectedTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-sm btn-primary mt-1" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class=" fw-bold f-22px">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
